---

- name: install desktop
  package:
    name: "{{ x_desktops[x_desktop] }}"
    state: present
  when:
    - x_desktop is defined and x_desktop is not none
    - x_desktops is defined and x_desktops is not none
    - x_desktops[x_desktop] is defined and x_desktops[x_desktop] is not none and (x_desktops[x_desktop] | length > 0)

- name: install desktop extras
  package:
    name: "{{ x_desktop_extensions[x_desktop] }}"
    state: present
  when:
    - x_desktop is defined and x_desktop is not none
    - x_desktop_extensions is defined and x_desktop_extensions is not none
    - x_desktop_extensions[x_desktop] is defined and x_desktop_extensions[x_desktop] is not none and (x_desktop_extensions[x_desktop] | length > 0)

- name: install desktop extras
  package:
    name: "{{ x_desktop_extas }}"
    state: present
  when:
    - x_desktop_extras is defined and x_desktop_extras is not none
    - x_desktop_extras | length > 0
